<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
    <title>home page</title>
</head>

<body style="background-color: rgb(52, 64, 73);">
    <center>
        <br>
        <div style="margin-top:15%">
            <p style="color: rgb(222, 226, 206);font-family: Verdana, Geneva, Tahoma, sans-serif">
                welcome to the home page
            </p>
            <a href="/login"><button type="button" class="btn btn-outline-primary">Login</button></a>
            <a href="/sub"><button type="button" class="btn btn-outline-info">buy new subscriptions</button></a>
    </center>
    </div>
</body>

</html>